export NPX="/opt/homebrew/bin/npx"
export NPM="/opt/homebrew/bin/npm"
export NODE="/opt/homebrew/bin/node"
# for testing the claude memory server
# the claude memory server picks up this variable
export MEMORY_FILE_PATH="/Volumes/ExternalData/admin/.claude/debug-memory.json"
